@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
  body {
    background-color: rgb(210, 225, 228);
    font-family: 'Source Code Pro', monospace;
  }
  
  #header {
    border: 5px solid black;
  }

  .header-section{
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  
  #img-logo {
    height: 130px;
    width: 130px;
    padding: 5px;
    margin-right: 10px;
    border: 3px solid black;
    box-shadow: 10px 5px 5px red;
  }

  #coding-activity-title{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
  }
  #activity-widget{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 70px;
    height: 60%;
    width: 60%;
  }
 
  #summary-widget{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 50%;
    width: 50%;
  }
 #aboutme{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 70px;
  }

  #footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 90px;
  }

  #button-group{
    margin-top: 30px;
  }
  #protfolio-widget{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 50%;
    width: 50%;
  }
  #skillchart-widget{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 50%;
    width: 50%;
  }

  
  codersrank-summary {
    --bg-color: transparent;
    --badge-bg-color: #161616;
    --badge-text-color: #fff;
    --badges-padding: 0px;
    --badge-padding: 8px;
    --badges-margin: 10px;
    --badge-margin: 16px;
    --badge-border-radius: 8px;
    --badge-rank-font-size: 16px;
    --badge-technology-font-size: 18px;
    --badge-location-font-size: 16px;
    --badge-icon-size: 32px;
    --badge-border: 1px solid rgba(0, 0, 0, 0.1);
    --badge-box-shadow: none;
  }

  codersrank-portfolio {
    --grid-columns: 2;
  
    
    --item-border-radius: 8px;
    --item-spacing: 16px;
    --item-padding: 16px;
    --logo-size: 64px;
    --tag-bg-color: rgba(255,255,255,0.075);
    
    --link-text-color: var(--theme-color);
    --link-bg-color: rgba(255,255,255,0.1);
    --link-hover-bg-color: rgba(255,255,255,0.125);
    --link-active-bg-color: rgba(255,255,255,0.075);
    --link-border-radius: 8px;
    --link-padding: 4px 8px;
    --link-text-transform: none;
    --link-font-weight: 500;
    --link-margin: 8px;
  }
}