#img-logo {
  height: 120px;
  width: 120px;
}
#header-title {
  text-align: center;
}
#header {
  padding: 10px;
}
#main-menu {
  padding-left: 90px;
  padding-bottom: 5px;
}
#header {
  margin-top: 10px;
  background-color: aquamarine;
}
li {
  margin-top: 5px;
  padding-top: 5px;
}
#menu-section {
  text-align: right;
}
#menubutton {
  text-align: right;
}
#footer{
  margin-top: 10px;
  padding-top: 10px;
  background-color:cornsilk;
}
#avatar{
  height: 40px;
  width: 40px;
}
#created-by{
  text-align: center;
  margin: 5px;
  padding: 5px;
}
#contact-form{
  padding-left: 15px;
  text-align: left;
}
#created-date{
  text-align: right;
  padding-right: 15px;
  font-family: 'Mate SC', serif;
}