@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
  body {
    background-color: rgb(210, 225, 228);
    font-family: 'Source Code Pro', monospace;
  }
  
  #header {
    border: 5px solid black;
    padding: 10px;
  }

  .header-section{
    margin: 10px;
    text-align: center;
  }
  
  #img-logo {
    height: 130px;
    width: 130px;
    padding: 5px;
    margin-right: 10px;
    border: 3px solid black;
    box-shadow: 10px 5px 5px red;
  }

  #menu-section{
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
  }

  #myTopnav{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #homemenu{
    margin-left: 5px;
  }

  #aboutmenu{
    margin-right: 5px;
  }

  #projects{
    margin-top: 10px;
  }
  #webdevheader{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  #wbdevdescription{
    margin-bottom: 30px;
  }
  .project-title{
    margin-top: 5px;
    text-align: center;
  }

  .project-image{
    padding-left: 45px;
  }

  .project-description{
    padding-top: 10px;
    text-align: center;
  }

  .project-button{
    margin-top: 15px;
    margin-bottom: 15px;
  } 

  #tribute-page{
    border: 5px solid black;
    padding-left: 10px;
  }

  #tributecodepenbutton{
    margin-left: 48px;
  }

  #tributegithubbutton{
    margin-left: 115px;
  }

  #avatar {
    height: 40px;
    width: 40px;
  }

  #created-by {
    text-align: center;
  }

  #created-date {
    text-align: right;
  }

  #footer {
    padding-top: 10px;
  }
  
  
}